<%- include('header'); %>

    <div class="wrapcontent">
        <div class="wrapdtbl">
            <div class="cell">
                <div class="inner innerlist rowtop">
                    <p>Hello, <strong><%= userlogin %></strong>  <a href="/logout">[ Logout ]</a>

                    <% if (userstatus == 1){ %>
                         - <a href="/adduser">[ Add User ]</a> - <a href="/userlist">[ User Management ]</a>
                    <% } %>
                    </p>
                </div>

                <div class="inner innerlist">
                    <h1><%= title %></h1>
                    
                    <% if (messages.info) { %>
                        <p class="success"><%= messages.info %></p>
                    <% } %>

                    <h4><a href="/dashboard">Dashboard</a></h4>

                    <div class="clearfix"></div>

                    <% encontact.forEach( function( encontact ) { %>

                    <form action="/useredit/<%= encontact.id %>" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                        <label>Name</label>
                        <input type="text" name="fullname" autocomplete="off" value="<%= encontact.name %>" required>

                        <label>Email</label>
                        <input type="text" name="disabled" autocomplete="off" value="<%= encontact.email %>" disabled>

                        <% if (encontact.user_status != session.userstatus){ %>
                                <label>User status</label>
                                <select name="user_status" required>
                                    <option>-Select-</option>
                                    <option value="1" <% if (encontact.user_status == "1"){%> selected <% } %>>Full Administrator</option>
                                    <option value="2" <% if (encontact.user_status == "2"){%> selected <% } %>>Admin</option>
                                </select>
                        <% } else { %>
                                <label>User status</label>
                                <select name="user_status" required>
                                    <option value="1" <% if (encontact.user_status == "1"){%> selected <% } %>>Full Administrator</option>
                                </select>
                        <% }  %>

                        <label>Password ( Leave it blank if don't need to change the password )</label>
                        <input type="password" name="password" autocomplete="off" value="">

                        <label>Re-Password</label>
                        <input type="password" name="repassword" autocomplete="off" value="">
                        
                        <input type="hidden" name="email" autocomplete="off" value="<%= encontact.email %>">
                        <input type="submit" name="submit" value="Update">

                    </form>

                    <% }) %>
    
                </div>
            </div>
        </div>
    </div>

<%- include('footer'); %>
